[submodule "vendor/ruby/anything-rake"]
	path = vendor/ruby/anything-rake
	url = git@github.com:jpablobr/anything-rake.git
[submodule "vendor/ruby/ruby-comint"]
	path = vendor/ruby/ruby-comint
	url = git@github.com:jpablobr/ruby-comint.el.git
[submodule "vendor/ruby/testr"]
	path = vendor/ruby/testr
	url = git@github.com:jpablobr/testr.git
[submodule "vendor/ruby/yari"]
	path = vendor/ruby/yari
	url = git@github.com:hron/yari.el.git
