[submodule "anything-rake"]
	path = anything-rake
	url = ./vendor/ruby/anything-rake
[submodule "git-emacs"]
	path = git-emacs
	url = ./vendor/misc/git-emacs
[submodule "git-show"]
	path = git-show
	url = ./vendor/misc/git-show
[submodule "yari.el"]
	path = yari.el
	url = ./vendor/ruby/yari.el
[submodule "testr"]
	path = testr
	url = ./vendor/ruby/testr
[submodule "ruby-comint.el"]
	path = ruby-comint.el
	url = ./vendor/ruby/ruby-comint.el
