backups/*
auto-save-list
*elc
places
thumbs/*
.nnmail-cache
image-dired/
elim/
session*
tramp
\#*
history
.org-id-locations
custom.el.before_ecb_*
vendor/yac/
url/
ac-comphist.dat
## ignore packages held in the src directory
# src
## org stuff
.org-id-locations
*~
u_js
u_ruby
u_git
u_misc
u_sudo